
.img-container::after{
    content: "";
    display: block;
    position: absolute;
    z-index: 3;
    top: 0px;
    left: 0.5px;
    bottom: 0px;
    width: 50%;
    background-image: url('/images/cover-shadow.png');
    background-repeat: no-repeat;
    background-size: 90% 100%;
    pointer-events: none;

}
img{
image-rendering: auto;
}