@tailwind base; // → áp dụng reset styles và font của Tailwind
@tailwind components; // → dùng các component Tailwind
@tailwind utilities; // → tất cả utility classes
/* import các file css khác */
@import "./variables.css";
// @import './preset.css';

body {
  color: #444;
  background-color: #eef3fb;
}
* {
  font-family: "Source Sans Pro", sans-serif;
  // color: #333333;
  line-height: 1.5;
  a:focus {
    outline: none;
  }
}
.wrapper {
  @media (max-width: 1220px) {
    width: 968px;
    max-width: 968px;
  }
  @media (max-width: 968px) {
    width: 100%;
  }
  @apply max-w-[1140px] m-auto w-[1140px];
}

/* 
.shadow-full{
    box-shadow: 0 .005em .01em 0 rgba(0, 0, 0, .12), 0 2px 10px 0 rgba(0, 0, 0, .12);
}


.caret{ //css cho dấu mũi tên xổ xuống
    border-top: 4px dashed;
    border-top: 4px solid;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    margin-left: 5px;
    display: inline-block;
    width: 0px;
    height: 0px;
    margin-left: 2px;
    vertical-align: middle;
    margin-left: 5px;
}

.relative-caret{ //css cho dấu mũi tên trỏ lên của component absolute
    position: absolute;
    top: -5px;
    display: inline-block;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #fff;
    border-left: 6px solid transparent;
    content: '';
} */
